n8n/workflows/generate-manga-story.json
{
  "name": "Generate Manga Story",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        5392,
        2224
      ],
      "id": "3af15f67-06b6-473e-a59d-6740b1cd7ea9",
      "name": "When chat message received",
      "webhookId": "e5c929f5-46c5-41ed-af0d-52bbdd34b6eb"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = ($input.first().json.chatInput || '').trim();\nif (chatInput.length > 5000) throw new Error('Input too long (max 5000 chars): ' + chatInput.length);\n\nconst inputType = chatInput.length > 500 ? 'full_story' : 'theme';\n\nconst universeId = 'univ-' + Date.now().toString(36) + '-' + Math.random().toString(36).substring(2, 8);\n\nconst wordSet = new Set(chatInput.toLowerCase().split(/[\\s,.'!?;:()\\-]+/).filter(Boolean));\n\nconst settingKeywords = {\n  'forêt': { color: '#228B22', emoji: '🌲', setting: 'forêt' },\n  'forest': { color: '#228B22', emoji: '🌲', setting: 'forêt' },\n  'océan': { color: '#1E90FF', emoji: '🌊', setting: 'océan' },\n  'mer': { color: '#1E90FF', emoji: '🌊', setting: 'mer' },\n  'ocean': { color: '#1E90FF', emoji: '🌊', setting: 'océan' },\n  'espace': { color: '#191970', emoji: '🚀', setting: 'espace' },\n  'space': { color: '#191970', emoji: '🚀', setting: 'espace' },\n  'volcan': { color: '#FF4500', emoji: '🌋', setting: 'volcan' },\n  'montagne': { color: '#8B4513', emoji: '⛰️', setting: 'montagne' },\n  'château': { color: '#DAA520', emoji: '🏰', setting: 'château' },\n  'castle': { color: '#DAA520', emoji: '🏰', setting: 'château' },\n  'pirate': { color: '#2F4F4F', emoji: '🏴‍☠️', setting: 'pirate' },\n  'dragon': { color: '#B22222', emoji: '🐉', setting: 'dragon' },\n  'école': { color: '#FF69B4', emoji: '🏫', setting: 'école' },\n  'jardin': { color: '#90EE90', emoji: '🌸', setting: 'jardin' },\n  'désert': { color: '#DEB887', emoji: '🏜️', setting: 'désert' },\n  'neige': { color: '#B0E0E6', emoji: '❄️', setting: 'neige' },\n  'glace': { color: '#B0E0E6', emoji: '❄️', setting: 'glace' },\n};\n\nlet detectedSetting = { color: '#6B7DB3', emoji: '📖', setting: 'aventure' };\nfor (const [kw, meta] of Object.entries(settingKeywords)) {\n  if (wordSet.has(kw) || chatInput.toLowerCase().includes(kw)) {\n    detectedSetting = meta;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    chatInput,\n    inputType,\n    universeId,\n    detectedSetting,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        2224
      ],
      "id": "1fdc181c-da45-41bd-ae96-aa3a3a0c0083",
      "name": "Analyze Input"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst base = 'https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/avatars';\nconst url = base + '?select=character_name,character_prompt,character_trait,gender';\n\nreturn [{ json: {\n  chatInput: item.chatInput,\n  inputType: item.inputType,\n  universeId: item.universeId,\n  detectedSetting: item.detectedSetting,\n  avatarFetchUrl: url\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        2048
      ],
      "id": "924fd924-0357-49d9-8d6c-68c635dc17f1",
      "name": "Prepare fetch ALL avatars"
    },
    {
      "parameters": {
        "url": "={{ $json.avatarFetchUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5952,
        2096
      ],
      "id": "40219068-028d-44d7-945e-217b1d7e1e97",
      "name": "Fetch avatars (character_prompt)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = [];\nitems.forEach(i => {\n  const j = i.json;\n  if (Array.isArray(j)) rows.push(...j);\n  else if (j && typeof j === 'object' && (j.character_name != null || j.body != null)) {\n    if (Array.isArray(j.body)) rows.push(...j.body);\n    else rows.push(j);\n  }\n});\n\nconst allAvatars = {};\nlet firstGender = 'girl';\nrows.forEach(r => {\n  if (r.character_name) {\n    allAvatars[r.character_name.toLowerCase()] = {\n      name: r.character_name,\n      prompt: r.character_prompt || '',\n      trait: r.character_trait || '',\n      gender: r.gender || 'girl'\n    };\n    if (!firstGender || firstGender === 'girl') firstGender = r.gender || 'girl';\n  }\n});\n\nlet analyzeData = {};\ntry { analyzeData = $('Analyze Input').first().json; } catch(e) {}\nconst chatInput = (analyzeData.chatInput || '').toLowerCase();\n\nconst matched = {};\nfor (const [key, avatar] of Object.entries(allAvatars)) {\n  if (chatInput.includes(key)) {\n    matched[avatar.name] = avatar;\n    firstGender = avatar.gender;\n  }\n}\n\nif (Object.keys(matched).length === 0) {\n  const fallbackKey = Object.keys(allAvatars)[0];\n  if (fallbackKey) {\n    matched[allAvatars[fallbackKey].name] = allAvatars[fallbackKey];\n    firstGender = allAvatars[fallbackKey].gender;\n  }\n}\n\n// characterBible = formatted for the OpenAI story prompt\nconst characterBible = Object.entries(matched)\n  .map(([name, av]) => name + ': ' + av.prompt)\n  .join('\\n');\n\n// Raw character_prompt values for direct injection into Gemini image prompts\nconst characterPrompts = Object.entries(matched)\n  .map(([name, av]) => ({ name, prompt: av.prompt }))\n  .filter(cp => cp.prompt);\n\nconst characterTraits = Object.entries(matched)\n  .map(([name, av]) => av.trait ? name + ': ' + av.trait : '')\n  .filter(Boolean)\n  .join('\\n');\n\nconst fallback = 'Hana: fillette de 8 ans, cheveux noirs courts au carre, petit ruban rouge cote gauche, grands yeux vert emeraude, tunique bleue aventuriere bordures dorees, bottes cuir marron, pendentif etoile lumineux.';\n\nreturn [{ json: {\n  characterBible: characterBible || fallback,\n  characterPrompts,\n  characterTraits,\n  avatarGender: firstGender,\n  characterCount: Object.keys(matched).length,\n  matchedCharacters: Object.keys(matched),\n  availableCharacters: Object.keys(allAvatars).map(k => allAvatars[k].name)\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        2048
      ],
      "id": "9df8bdec-ab97-456c-8c3a-66753ae37254",
      "name": "Build character bible"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6208,
        1840
      ],
      "id": "3d3adf44-1e34-4f25-9809-61a253d17a8f",
      "name": "Merge chatInput + character bible"
    },
    {
      "parameters": {
        "jsCode": "const merge = $('Merge chatInput + character bible').first().json;\nconst storyInput = (merge.chatInput || '').trim();\nconst characterBible = merge.characterBible || '';\nconst characterPrompts = merge.characterPrompts || [];\nconst characterTraits = merge.characterTraits || '';\nconst universeId = merge.universeId || 'univ-fallback';\nconst detectedSetting = merge.detectedSetting || { setting: 'aventure' };\nconst inputType = merge.inputType || 'theme';\n\nconst taskBlock = inputType === 'full_story'\n  ? '- Texte complet fourni. Decoupe en 2 histoires de 5 pages qui convergent.'\n  : '- Theme fourni. Invente 2 histoires de 5 pages qui convergent vers la meme fin.';\n\nconst traitBlock = characterTraits\n  ? '\\nTRAITS DE PERSONNALITE (influencent les reactions, decisions et arc narratif) :\\n' + characterTraits + '\\n'\n  : '';\n\nconst fullPrompt = `Tu es un auteur narratif manga pour enfants (6-10 ans). Tu crees une histoire interactive avec 2 CHEMINS qui CONVERGENT.\n\n=== CONCEPT ===\nL'enfant choisit entre 2 accroches (story_starts). Selon son choix, il voit 5 pages avec des images adaptees a son chemin. Les 2 chemins divergent au debut (pages 1-2) puis convergent vers la meme histoire (pages 3-4-5). Le personnage principal doit etre STRICTEMENT identique sur chaque illustration.\n\n=== BIBLE VISUELLE (RESPECT ABSOLU DANS CHAQUE IMAGE) ===\n${characterBible}\n=== FIN BIBLE VISUELLE ===\n${traitBlock}\nENTREE UTILISATEUR :\n${storyInput || '(aucun theme - invente une aventure a branches)'}\n\nIDENTIFIANT UNIVERS : ${universeId}\n\n=== STORY STARTS (2 accroches) ===\n- Exactement 2 story_starts : 1 titre (max 6 mots) + 1 phrase d'accroche (teaser court).\n- start-A a first_page_id = \"p1a\", start-B a first_page_id = \"p1b\".\n- Les 2 accroches proposent 2 ambiances/angles DIFFERENTS pour la meme aventure.\n\n=== STRUCTURE : 7 PAGES (5 par parcours, 2 chemins) ===\n\nPAGES DIVERGENTES (images differentes selon le chemin) :\n- p1a : Ouverture chemin A. Paragraphe riche et immersif (4-5 phrases). Image unique adaptee au choix A. 2 choix -> p2a.\n- p1b : Ouverture chemin B. Paragraphe riche et immersif (4-5 phrases). Image unique adaptee au choix B. 2 choix -> p2b.\n- p2a : Developpement chemin A. Progression de l'histoire cote A (2-3 phrases). Image unique. 2 choix -> p3.\n- p2b : Developpement chemin B. Progression de l'histoire cote B (2-3 phrases). Image unique. 2 choix -> p3.\n\nPAGES CONVERGENTES (meme image, meme texte pour les 2 chemins) :\n- p3 : CONVERGENCE. Les 2 chemins se rejoignent ici de maniere naturelle. Point tournant (2-3 phrases). 2 choix -> p4.\n- p4 : CLIMAX. Moment fort de l'aventure (2-3 phrases). 2 choix -> p5.\n- p5 : FIN. Resolution positive et satisfaisante (2-3 phrases). choices = [].\n\n=== TRANSITIONS INTELLIGENTES ===\n- La convergence a p3 doit etre NATURELLE : les 2 chemins menent logiquement au meme point.\n- p2a et p2b doivent preparer la convergence (indices communs, destination commune).\n- Les choix a chaque page sont narratifs (interaction) mais menent a la page suivante du chemin.\n\n=== INFLUENCE DES TRAITS ===\n- Les traits du personnage se manifestent dans ses reactions et les choix proposes.\n\nTACHE :\n${taskBlock}\n- p1a et p1b : 4-5 phrases riches. Decor, sensations, emotions.\n- p2a, p2b, p3, p4, p5 : 2-3 phrases percutantes.\n- Chaque page a paragraph_text, scene_summary et panels.\n- Chaque choix a id, text (max 10 mots), next_page_id.\n- Langue : francais, phrases simples, max 15 mots par phrase.\n\n=== CONTRAINTES IMAGES (CRITIQUE) ===\n- scene_summary = description visuelle PURE. ZERO texte/bulle/dialogue dans l'image.\n- CHAQUE scene_summary re-decrit le personnage (cheveux, vetements, accessoires, couleurs).\n- p1a/p1b et p2a/p2b DOIVENT avoir des scenes visuellement DIFFERENTES (decors, actions distinctes).\n- p3, p4, p5 : memes images pour les 2 chemins.\n\nFORMAT : JSON strict, pas de markdown.\n\nSCHEMA :\n{\n  \"universe\": { \"id\": \"${universeId}\", \"name\": \"str\", \"description\": \"1 phrase\", \"image_url\": \"\", \"color\": \"#hex\", \"emoji\": \"emoji\", \"gender\": \"girl|boy\", \"display_order\": 1 },\n  \"story_starts\": [\n    { \"id\": \"start-A\", \"title\": \"max 6 mots\", \"text\": \"accroche A\", \"first_page_id\": \"p1a\" },\n    { \"id\": \"start-B\", \"title\": \"max 6 mots\", \"text\": \"accroche B\", \"first_page_id\": \"p1b\" }\n  ],\n  \"pages\": [\n    { \"page_id\": \"p1a\", \"universe_id\": \"${universeId}\", \"paragraph_text\": \"ouverture A\", \"scene_summary\": \"...\", \"panels\": [...], \"choices\": [{ \"id\": \"c-p1a-1\", \"text\": \"...\", \"next_page_id\": \"p2a\" }, { \"id\": \"c-p1a-2\", \"text\": \"...\", \"next_page_id\": \"p2a\" }] },\n    { \"page_id\": \"p1b\", ..., \"choices\": [{ ..., \"next_page_id\": \"p2b\" }, { ..., \"next_page_id\": \"p2b\" }] },\n    { \"page_id\": \"p2a\", ..., \"choices\": [{ ..., \"next_page_id\": \"p3\" }, { ..., \"next_page_id\": \"p3\" }] },\n    { \"page_id\": \"p2b\", ..., \"choices\": [{ ..., \"next_page_id\": \"p3\" }, { ..., \"next_page_id\": \"p3\" }] },\n    { \"page_id\": \"p3\", ..., \"choices\": [{ ..., \"next_page_id\": \"p4\" }, { ..., \"next_page_id\": \"p4\" }] },\n    { \"page_id\": \"p4\", ..., \"choices\": [{ ..., \"next_page_id\": \"p5\" }, { ..., \"next_page_id\": \"p5\" }] },\n    { \"page_id\": \"p5\", ..., \"choices\": [] }\n  ]\n}\n\nREGLES :\n- Exactement 7 pages : p1a, p1b, p2a, p2b, p3, p4, p5.\n- 2 story_starts avec first_page_id.\n- universe_id = \"${universeId}\" sur chaque page.\n- Parcours enfant = 5 pages max (p1a->p2a->p3->p4->p5 OU p1b->p2b->p3->p4->p5).`;\n\nreturn [{ json: { fullPrompt, characterBible, characterPrompts, characterTraits, universeId, detectedSetting, inputType } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        1840
      ],
      "id": "ed29cdd9-90b2-406b-9f19-23e2f84142e7",
      "name": "Build story prompt with bible"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.fullPrompt }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "maxTokens": 6144,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6656,
        1840
      ],
      "id": "98178639-2771-4bd6-ac73-66008d7ca021",
      "name": "Generate story JSON",
      "credentials": {
        "openAiApi": {
          "id": "VBbboUkh3t3o6xhB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.output?.[0]?.content?.[0]?.text;\nif (!raw) throw new Error('No LLM output received. Check Generate story JSON node.');\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/```json/g, '').replace(/```/g, '').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('LLM returned invalid JSON: ' + e.message + ' | First 300 chars: ' + cleaned.substring(0, 300));\n}\n\nlet pages = parsed.pages || (parsed.page ? [parsed.page] : []);\nif (!pages || pages.length === 0) throw new Error('No pages found in LLM output.');\n\nlet preGenUniverseId = '';\nlet detectedSetting = { color: '#6B7DB3', emoji: '\\u{1F4D6}' };\nlet characterBible = '';\nlet characterPrompts = [];\nlet characterTraits = '';\nlet avatarGender = 'girl';\ntry {\n  const promptData = $('Build story prompt with bible').first().json;\n  preGenUniverseId = promptData.universeId || '';\n  detectedSetting = promptData.detectedSetting || detectedSetting;\n  characterBible = promptData.characterBible || '';\n  characterPrompts = promptData.characterPrompts || [];\n  characterTraits = promptData.characterTraits || '';\n} catch (e) {}\ntry {\n  const m = $('Merge chatInput + character bible').first().json;\n  avatarGender = m.avatarGender || 'girl';\n} catch (e) {}\n\nconst universeId = preGenUniverseId || (parsed.universe && parsed.universe.id) || 'univ-fallback';\n\nconst universe = parsed.universe\n  ? { ...parsed.universe, id: universeId, color: parsed.universe.color || detectedSetting.color, emoji: parsed.universe.emoji || detectedSetting.emoji }\n  : { id: universeId, name: 'Univers genere', description: '', image_url: '', color: detectedSetting.color, emoji: detectedSetting.emoji, gender: avatarGender, display_order: 1 };\n\nconst BUCKET = 'BD-Pages';\nconst SUPABASE_URL = 'https://wddatxgqhdiosuhcztex.supabase.co';\nconst now = new Date().toISOString();\n\n// Raw character_prompt as MODEL SHEET for Gemini\nconst modelSheetEntries = characterPrompts.length > 0\n  ? characterPrompts.map(cp => cp.name + ':\\n' + cp.prompt).join('\\n\\n')\n  : characterBible;\n\nconst MODEL_SHEET =\n'\\n=== CHARACTER MODEL SHEET (MANDATORY - ZERO DEVIATION) ===\\n\\n'\n+ modelSheetEntries\n+ '\\n\\n=== CRITICAL RULES ===\\n'\n+ '- EXACT same character on ALL pages: same hair, face, eyes, skin tone, clothing, accessories, proportions and colors.\\n'\n+ '- ZERO creative deviation allowed.\\n'\n+ '\\n'\n+ '=== ABSOLUTE NO TEXT POLICY (CRITICAL) ===\\n'\n+ '- The image MUST contain ZERO text.\\n'\n+ '- NO page numbers.\\n'\n+ '- NO choices.\\n'\n+ '- NO UI elements.\\n'\n+ '- NO letters, words, symbols, or signs.\\n'\n+ '- NO speech bubbles or captions.\\n'\n+ '- NO hidden text in background.\\n'\n+ '- NO watermark or signature.\\n'\n+ '- If ANY text appears, the image is INVALID.\\n'\n+ '\\n'\n+ '=== PANEL INTEGRITY RULES (CRITICAL) ===\\n'\n+ '- Panels must be COMPLETE and FULLY visible.\\n'\n+ '- NO cut panels.\\n'\n+ '- NO half panels.\\n'\n+ '- NO panels going outside the image frame.\\n'\n+ '- ALL panel borders must be fully visible.\\n'\n+ '- Panels must be clean, closed shapes.\\n'\n+ '- NO broken or missing borders.\\n'\n+ '\\n'\n+ '=== PANEL CONSISTENCY ===\\n'\n+ '- Same panel style across ALL pages.\\n'\n+ '- Same border thickness (stroke).\\n'\n+ '- Same spacing between panels.\\n'\n+ '- Same rounded corners (if used).\\n'\n+ '- Do NOT change layout style randomly.\\n'\n+ '\\n'\n+ '=== SAFE LAYOUT RULE ===\\n'\n+ '- Use a clean storybook layout OR clean comic layout.\\n'\n+ '- Keep margins on all sides.\\n'\n+ '- NEVER place panels touching or crossing image edges.\\n'\n+ '\\n'\n+ '=== CHARACTER CONSISTENCY ===\\n'\n+ '- Face must remain IDENTICAL across all pages.\\n'\n+ '- Same hairstyle, same colors, same outfit.\\n'\n+ '- No random visual changes.\\n'\n+ '\\n'\n+ '=== COMPOSITION ===\\n'\n+ '- Character must be clearly visible.\\n'\n+ '- Do NOT cut head, face or body.\\n'\n+ '- Keep stable scale across pages.\\n'\n+ '\\n'\n+ '=== STYLE CONSISTENCY ===\\n'\n+ '- Same illustration style across all pages.\\n'\n+ '- Same line thickness and rendering.\\n'\n+ '\\n'\n+ '=== BACKGROUND ===\\n'\n+ '- Background must match the scene.\\n'\n+ '- MUST NOT contain text or symbols.\\n'\n+ '\\n'\n+ '=== COLORS & LIGHT ===\\n'\n+ '- Use soft, child-friendly colors.\\n'\n+ '- Avoid dark or aggressive tones.\\n'\n+ '\\n'\n+ '=== SAFETY ===\\n'\n+ '- No violence.\\n'\n+ '- No scary elements.\\n'\n+ '\\n'\n+ '=== HARD VALIDATION ===\\n'\n+ '- If ANY text is visible → REGENERATE.\\n'\n+ '- If ANY panel is cut or incomplete → REGENERATE.\\n'\n+ '- If layout is inconsistent → REGENERATE.\\n'\n+ '\\n'\n+ '=== END MODEL SHEET ===\\n';\n\nconst TRAIT_CONTEXT = characterTraits\n  ? '\\nCharacter personality (expression/mood): ' + characterTraits + '\\n'\n  : '';\n\nconst hasBranching = pages[0] && pages[0].page_id != null;\nconst pageIdToNumber = {};\nif (hasBranching) {\n  pages.forEach((p, i) => { if (p.page_id) pageIdToNumber[p.page_id] = i + 1; });\n}\n\n// Per-page character_prompt reminder\nconst visualRecap = characterPrompts.length > 0\n  ? characterPrompts.map(cp => 'REMINDER - ' + cp.name + ': ' + cp.prompt).join('\\n')\n  : '';\n\nreturn pages.map((page, index) => {\n  const pageNumber = hasBranching ? (index + 1) : (page.page_number || index + 1);\n  const pageId = page.page_id || ('p' + pageNumber);\n  const fileName = `${universeId}-page-${pageId}.png`;\n  const storagePath = `${universeId}/${fileName}`;\n  let choices = page.choices || [];\n  if (hasBranching && choices.length) {\n    choices = choices.map(c => ({\n      ...c,\n      next_page_number: c.next_page_id ? pageIdToNumber[c.next_page_id] : null\n    }));\n  }\n  return {\n    json: {\n      universe,\n      universeId,\n      pageNumber,\n      pageId,\n      paragraphText: page.paragraph_text,\n      sceneSummary: page.scene_summary,\n      panels: page.panels,\n      choices,\n      storyStarts: parsed.story_starts || [],\n      avatarGender,\n      bucket: BUCKET,\n      fileName,\n      storagePath,\n      supabaseUrl: SUPABASE_URL,\n      createdAt: now,\n      geminiPrompt: [\n  MODEL_SHEET,\n  TRAIT_CONTEXT,\n  'Create a single children manga page illustration.',\n\n  // ✅ FIX ICI\n  'This is one page from a children story. Do not display any page number or identifier.',\n\n  '',\n  'STYLE: Soft pastel Japanese children manga. Warm colors. Expressive chibi characters.',\n  'NO text, NO speech bubbles, NO typography, NO watermark, NO words anywhere.',\n\n  // ✅ AJOUT ICI\n  'CRITICAL:',\n  '- Do NOT render any page id (like p5-1).',\n  '- Do NOT render panel ids.',\n  '- Do NOT render any identifiers or references.',\n\n  '',\n  'SCENE:',\n  page.scene_summary || '',\n\n  '',\n  // ✅ FIX ICI\n  'PANELS (for visual guidance only - NEVER render any id, label, or metadata):',\n  JSON.stringify(page.panels, null, 2),\n\n  '',\n  visualRecap,\n\n  '',\n  'VERIFY: character matches model sheet exactly | no text in image | child-safe | same art style on all pages',\n].join('\\n')\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6144,
        2528
      ],
      "id": "6c0b1703-4359-4968-8e5a-7ae8b746e11c",
      "name": "Parse story JSON"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6400,
        2736
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst u = item.universe;\nif (!u || !u.id) {\n  console.log('No universe data found, skipping upsert');\n  return [];\n}\nconst gender = item.avatarGender || u.gender || 'girl';\n\n// Link this universe to the matched avatar characters\nlet avatarCharacterNames = [];\ntry {\n  const bibleData = $('Build character bible').first().json;\n  avatarCharacterNames = bibleData.matchedCharacters || [];\n} catch(e) {}\n\nreturn [{\n  json: {\n    id: u.id,\n    name: u.name || 'Unnamed Universe',\n    description: u.description || '',\n    image_url: u.image_url || '',\n    color: u.color || '#6B7DB3',\n    emoji: u.emoji || '\\u{1F4D6}',\n    gender: gender,\n    display_order: u.display_order || 1,\n    avatar_character_names: avatarCharacterNames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        2304
      ],
      "id": "fb073a53-6892-4143-b465-592dd877868d",
      "name": "Prepare universe row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/universes?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6832,
        2160
      ],
      "id": "d780e8da-46cb-49b2-ba0d-ce7a3f7d8949",
      "name": "Upsert universe",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseItem = $('Parse story JSON').first().json;\nconst starts = parseItem.storyStarts || [];\nconst universeId = parseItem.universeId;\n\nif (!starts.length || !universeId) {\n  console.log('No story_starts or missing universeId, skipping');\n  return [];\n}\n\n// Generate a truly unique id per row so new generations INSERT instead of overwriting.\n// Format: ss-{universeId_suffix}-{timestamp_base36}-{random}-{path_suffix}\n// path_id preserves the original LLM label (start-A, start-B) for sorting + page mapping.\nconst ts = Date.now().toString(36);\nconst univSuffix = universeId.replace('univ-', '').substring(0, 8);\n\nreturn starts.map(s => {\n  const pathLabel = (s.id || 'start-x').toLowerCase();\n  const pathSuffix = pathLabel.replace('start-', '');\n  const rand = Math.random().toString(36).substring(2, 6);\n  const uniqueId = `ss-${univSuffix}-${ts}-${rand}-${pathSuffix}`;\n  return {\n    json: {\n      id: uniqueId,\n      path_id: s.id || pathLabel,\n      universe_id: universeId,\n      title: s.title || 'Sans titre',\n      text: s.text || '',\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7168,
        2336
      ],
      "id": "5ad1a4fc-c49d-4a3a-a825-b9ae6ebfbf5b",
      "name": "Prepare story_starts rows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/story_starts?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        2336
      ],
      "id": "0c6f84ae-52be-487c-b782-05222d314927",
      "name": "Upsert story_starts",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{$json.geminiPrompt}}",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        6608,
        2896
      ],
      "id": "d43cebca-bd3e-4783-8f0c-72e378cd47d8",
      "name": "Generate single image",
      "credentials": {
        "googlePalmApi": {
          "id": "yIkNrcZ8dCenkK89",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6816,
        2544
      ],
      "id": "52116807-248d-4e7f-b19d-9a30944a9f39",
      "name": "Merge JSON + image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wddatxgqhdiosuhcztex.supabase.co/storage/v1/object/{{ $json.bucket }}/{{ $json.storagePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7168,
        2576
      ],
      "id": "b552fb79-aca0-4639-be30-0f9c6b7024ac",
      "name": "Upload image to Storage",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.filter(item => item.json.universeId && item.json.pageNumber).map(item => ({\n  json: {\n    universe_id: item.json.universeId,\n    page_number: item.json.pageNumber,\n    text: item.json.paragraphText || '',\n    scene_summary: item.json.sceneSummary || '',\n    image_url: `${item.json.supabaseUrl}/storage/v1/object/public/${item.json.bucket}/${item.json.storagePath}`,\n    created_at: item.json.createdAt\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7168,
        2736
      ],
      "id": "b1b7423f-9557-439a-9d2e-ceb30adeb6f9",
      "name": "Prepare paragraph rows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/story_paragraphs?on_conflict=universe_id,page_number",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        2736
      ],
      "id": "79d42692-8ce3-48d4-ad62-bebe62d444a4",
      "name": "Upsert story_paragraphs",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  if (!item.json.universeId || !item.json.pageNumber) continue;\n  const choices = item.json.choices || [];\n  choices.forEach((choice, index) => {\n    const row = {\n      id: choice.id || `choice-p${item.json.pageNumber}-${String.fromCharCode(97 + index)}`,\n      universe_id: item.json.universeId,\n      page_number: item.json.pageNumber,\n      choice_order: index + 1,\n      text: choice.text || '',\n      created_at: item.json.createdAt\n    };\n    if (choice.next_page_number != null) row.next_page_number = choice.next_page_number;\n    results.push({ json: row });\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7168,
        2896
      ],
      "id": "a5afbea8-9c21-4fba-93cc-bb00521c8137",
      "name": "Prepare choices rows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/narrative_choices?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        2896
      ],
      "id": "c27ffafe-98a2-4af6-a29f-f6b437074393",
      "name": "Upsert narrative_choices",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Analyze Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch avatars (character_prompt)": {
      "main": [
        [
          {
            "node": "Build character bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build character bible": {
      "main": [
        [
          {
            "node": "Merge chatInput + character bible",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge chatInput + character bible": {
      "main": [
        [
          {
            "node": "Build story prompt with bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build story prompt with bible": {
      "main": [
        [
          {
            "node": "Generate story JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate story JSON": {
      "main": [
        [
          {
            "node": "Parse story JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse story JSON": {
      "main": [
        [
          {
            "node": "Prepare universe row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge JSON + image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Generate single image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge JSON + image",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare universe row": {
      "main": [
        [
          {
            "node": "Upsert universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert universe": {
      "main": [
        [
          {
            "node": "Prepare story_starts rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare story_starts rows": {
      "main": [
        [
          {
            "node": "Upsert story_starts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate single image": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON + image": {
      "main": [
        [
          {
            "node": "Upload image to Storage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare paragraph rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare choices rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare paragraph rows": {
      "main": [
        [
          {
            "node": "Upsert story_paragraphs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare choices rows": {
      "main": [
        [
          {
            "node": "Upsert narrative_choices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Input": {
      "main": [
        [
          {
            "node": "Prepare fetch ALL avatars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge chatInput + character bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare fetch ALL avatars": {
      "main": [
        [
          {
            "node": "Fetch avatars (character_prompt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c74d7f0f-533f-4e9e-b5b0-ee13759c98a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "027eb02d4a7b0317fa0bdafe90c76187906eee4230a62cbad1a63f53a21b3d79"
  },
  "id": "yZ9GBMuO5GySy0PzCiyoV",
  "tags": []
}