n8n/workflows/generate-manga-story.json
{
  "name": "Generate Manga Story",
  "nodes": [
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-500, 0],
      "id": "82de8e84-a30d-4004-bd62-2cd2309b3675",
      "name": "When chat message received",
      "webhookId": "e5c929f5-46c5-41ed-af0d-52bbdd34b6eb"
    },

    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [{ "content": "={{$json.chatInput}}" }]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [-140, 0],
      "id": "176326da-b95f-4557-a222-20bcaf7d0731",
      "name": "Generate story JSON",
      "credentials": {
        "openAiApi": {
          "id": "VBbboUkh3t3o6xhB",
          "name": "OpenAi account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output[0].content[0].text;\n\nlet cleaned = raw.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/```json/g, '').replace(/```/g, '').trim();\n}\n\nconst parsed = JSON.parse(cleaned);\nconst pages = parsed.pages || [parsed.page];\nconst universe = parsed.universe || null;\n\nconst BUCKET = 'BD-Pages';\nconst SUPABASE_URL = 'https://wddatxgqhdiosuhcztex.supabase.co';\nconst now = new Date().toISOString();\n\nconst CHARACTER_LOCK = `\\nMain character reference (STRICT - MUST remain identical in every image):\\n\\n8-year-old girl\\nshort straight black bob haircut\\nsmall red ribbon on the LEFT side of her head\\nlarge emerald green eyes\\nsoft round child face\\nblue adventure tunic with golden trim\\nbrown leather boots\\nsmall side satchel\\nglowing star-shaped pendant around her neck\\n\\nDO NOT change character design.\\nDO NOT change outfit.\\nDO NOT move ribbon.\\n`;\n\nreturn pages.map(page => {\n  const universeId = page.universe_id;\n  const pageNumber = page.page_number;\n  const fileName = `${universeId}-page-${pageNumber}.png`;\n  const storagePath = `${universeId}/${fileName}`;\n\n  return {\n    json: {\n      universe,\n      universeId,\n      pageNumber,\n      paragraphText: page.paragraph_text,\n      sceneSummary: page.scene_summary,\n      panels: page.panels,\n      choices: page.choices || [],\n      storyStarts: parsed.story_starts || [],\n      bucket: BUCKET,\n      fileName,\n      storagePath,\n      supabaseUrl: SUPABASE_URL,\n      createdAt: now,\n      geminiPrompt: `Create a full children manga page illustration.\\n\\nSTYLE:\\nSoft pastel Japanese children manga style.\\nNo text. No speech bubbles. No typography.\\n\\n${CHARACTER_LOCK}\\n\\nSCENE:\\n${page.scene_summary}\\n\\nPANELS:\\n${JSON.stringify(page.panels, null, 2)}\\n\\nMaintain strict character consistency.`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "c7a16c70-ee98-46e3-9eb7-33061d5cd04d",
      "name": "Parse story JSON"
    },

    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst u = item.universe;\nif (!u) return [];\nreturn [{\n  json: {\n    id: u.id,\n    name: u.name,\n    description: u.description,\n    image_url: u.image_url || '',\n    color: u.color,\n    emoji: u.emoji,\n    gender: u.gender,\n    display_order: u.display_order\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, -200],
      "id": "bb000001-0001-0001-0001-000000000001",
      "name": "Prepare universe row"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/universes?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [920, -200],
      "id": "bb000002-0002-0002-0002-000000000002",
      "name": "Upsert universe",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const parseItem = $('Parse story JSON').first().json;\nconst starts = parseItem.storyStarts || [];\nconst universeId = parseItem.universeId;\n\nif (!starts.length) return [];\n\nreturn starts.map(s => ({\n  json: {\n    id: s.id,\n    universe_id: universeId,\n    title: s.title,\n    text: s.text\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, -320],
      "id": "cc000001-0001-0001-0001-000000000001",
      "name": "Prepare story_starts rows"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/story_starts?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1600, -320],
      "id": "cc000002-0002-0002-0002-000000000002",
      "name": "Upsert story_starts",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },

    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{$json.geminiPrompt}}",
        "options": { "binaryPropertyOutput": "data" }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [580, 240],
      "id": "b150ab8d-4723-4a74-8e3f-19c0e9580879",
      "name": "Generate single image",
      "credentials": {
        "googlePalmApi": {
          "id": "yIkNrcZ8dCenkK89",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },

    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [920, 80],
      "id": "864302a0-3d3f-44d1-bdc5-ead7d9d6b71e",
      "name": "Merge JSON + image"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://wddatxgqhdiosuhcztex.supabase.co/storage/v1/object/{{$json.bucket}}/{{$json.storagePath}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "image/png" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1260, -80],
      "id": "3b0f41a6-6819-4804-ac67-b4ec09cef3f4",
      "name": "Upload image to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    universe_id: item.json.universeId,\n    page_number: item.json.pageNumber,\n    text: item.json.paragraphText,\n    image_url: `${item.json.supabaseUrl}/storage/v1/object/public/${item.json.bucket}/${item.json.storagePath}`,\n    created_at: item.json.createdAt\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 80],
      "id": "aa000001-0001-0001-0001-000000000001",
      "name": "Prepare paragraph rows"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/story_paragraphs?on_conflict=universe_id,page_number",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1600, 80],
      "id": "379d3086-99e6-4d6c-99a7-af2c400df21a",
      "name": "Upsert story_paragraphs",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const choices = item.json.choices || [];\n  choices.forEach((choice, index) => {\n    results.push({\n      json: {\n        id: choice.id,\n        universe_id: item.json.universeId,\n        page_number: item.json.pageNumber,\n        choice_order: index + 1,\n        text: choice.text,\n        created_at: item.json.createdAt\n      }\n    });\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 240],
      "id": "aa000002-0002-0002-0002-000000000002",
      "name": "Prepare choices rows"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/narrative_choices?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1600, 240],
      "id": "aa000003-0003-0003-0003-000000000003",
      "name": "Upsert narrative_choices",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      }
    }
  ],

  "pinData": {},

  "connections": {
    "When chat message received": {
      "main": [[
        { "node": "Generate story JSON", "type": "main", "index": 0 }
      ]]
    },
    "Generate story JSON": {
      "main": [[
        { "node": "Parse story JSON", "type": "main", "index": 0 }
      ]]
    },
    "Parse story JSON": {
      "main": [[
        { "node": "Prepare universe row", "type": "main", "index": 0 },
        { "node": "Generate single image", "type": "main", "index": 0 },
        { "node": "Merge JSON + image", "type": "main", "index": 0 }
      ]]
    },
    "Prepare universe row": {
      "main": [[
        { "node": "Upsert universe", "type": "main", "index": 0 }
      ]]
    },
    "Upsert universe": {
      "main": [[
        { "node": "Prepare story_starts rows", "type": "main", "index": 0 }
      ]]
    },
    "Prepare story_starts rows": {
      "main": [[
        { "node": "Upsert story_starts", "type": "main", "index": 0 }
      ]]
    },
    "Upsert story_starts": {
      "main": [[]]
    },
    "Generate single image": {
      "main": [[
        { "node": "Merge JSON + image", "type": "main", "index": 1 }
      ]]
    },
    "Merge JSON + image": {
      "main": [[
        { "node": "Upload image to Storage", "type": "main", "index": 0 },
        { "node": "Prepare paragraph rows", "type": "main", "index": 0 },
        { "node": "Prepare choices rows", "type": "main", "index": 0 }
      ]]
    },
    "Upload image to Storage": {
      "main": [[]]
    },
    "Prepare paragraph rows": {
      "main": [[
        { "node": "Upsert story_paragraphs", "type": "main", "index": 0 }
      ]]
    },
    "Upsert story_paragraphs": {
      "main": [[]]
    },
    "Prepare choices rows": {
      "main": [[
        { "node": "Upsert narrative_choices", "type": "main", "index": 0 }
      ]]
    },
    "Upsert narrative_choices": {
      "main": [[]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2ab09319-efcb-4ab8-8899-e749f35555d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "027eb02d4a7b0317fa0bdafe90c76187906eee4230a62cbad1a63f53a21b3d79"
  },
  "id": "QT7bnksqv9SByF8mEZyuz",
  "tags": []
}
