n8n/workflows/mangakids-design-system.json
{
  "name": "MangaKids - Generate Avatar Assets",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "avatar-node-01",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://wddatxgqhdiosuhcztex.supabase.co';\nconst BUCKET = 'app-assets';\n\n// assetMode controls which asset types are generated.\n// 'avatars'     → only avatar rows (8 items: 4 chars × 2 frames)\n// 'backgrounds' → only background rows (future)\n// 'all'         → everything\nconst ASSET_MODE = 'avatars';\n\nreturn [{\n  json: {\n    supabaseUrl: SUPABASE_URL,\n    bucket: BUCKET,\n    assetMode: ASSET_MODE,\n    style: 'Soft pastel Japanese kawaii manga style for children aged 6-12. Bright warm colors, rounded shapes, friendly and magical atmosphere. No text, no typography, no speech bubbles.',\n    brandColors: {\n      primary:    '#FF8A65',\n      background: '#FFFCF5',\n      secondary:  '#7EC8E3',\n      fantasy:    '#C8A2C8',\n      space:      '#7EC8E3',\n      ocean:      '#4FC3F7'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-380, 200],
      "id": "avatar-node-02",
      "name": "Config"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\nconst S   = cfg.style;\nconst c   = cfg.brandColors;\nconst mode = cfg.assetMode || 'avatars';\n\nconst AVATARS = [\n  {\n    character_name: 'Kaito Explorateur',\n    gender: 'boy',\n    display_order: 1,\n    storage_prefix: 'avatars/boy-explorer',\n    base_prompt: `${S}\\n\\nCreate a cute chibi-style avatar portrait of a brave boy explorer, aged 8.\\n\\nCHARACTER: Messy brown hair, big bright amber eyes, adventure hat slightly tilted, blue explorer vest with star patches, small compass around neck.\\n\\nFRAMING: Head and shoulders, centered, circular composition.\\nBACKGROUND: Transparent or soft warm gradient (${c.primary} to ${c.background}).`,\n    frames: {\n      normal: 'Expression: confident and friendly smile. Must make a child want to pick this avatar.',\n      happy:  'Expression: wide beaming smile, eyes crinkling with joy, slight head tilt. Radiating excitement and warmth.'\n    }\n  },\n  {\n    character_name: 'Ryu Magicien',\n    gender: 'boy',\n    display_order: 2,\n    storage_prefix: 'avatars/boy-wizard',\n    base_prompt: `${S}\\n\\nCreate a cute chibi-style avatar portrait of a young boy wizard, aged 7.\\n\\nCHARACTER: Spiky dark blue hair, large curious violet eyes, tiny round glasses, oversized purple wizard hat with a golden star, blue robe with sparkle patterns, holding a small glowing wand.\\n\\nFRAMING: Head and shoulders, centered, circular composition.\\nBACKGROUND: Transparent or soft purple gradient (${c.fantasy} to ${c.background}).`,\n    frames: {\n      normal: 'Expression: wonder and excitement. Magical sparkles around him.',\n      happy:  'Expression: huge delighted grin, eyes sparkling, wand glowing brighter. Surrounded by swirling golden stars.'\n    }\n  },\n  {\n    character_name: 'Luna Fée',\n    gender: 'girl',\n    display_order: 1,\n    storage_prefix: 'avatars/girl-fairy',\n    base_prompt: `${S}\\n\\nCreate a cute chibi-style avatar portrait of a magical fairy girl, aged 8.\\n\\nCHARACTER: Long flowing pink hair with tiny flowers woven in, large sparkling green eyes, delicate translucent butterfly wings, flower crown with soft glow, pastel pink dress with petal layers, tiny star freckles on cheeks.\\n\\nFRAMING: Head and shoulders, centered, circular composition.\\nBACKGROUND: Transparent or soft pink gradient (${c.primary} to ${c.background}).`,\n    frames: {\n      normal: 'Expression: gentle and magical smile. Sparkles and tiny hearts floating around.',\n      happy:  'Expression: overjoyed laugh, eyes lit up, wings shimmering faster. Pink sparkles and hearts exploding around her.'\n    }\n  },\n  {\n    character_name: 'Mei Pirate',\n    gender: 'girl',\n    display_order: 2,\n    storage_prefix: 'avatars/girl-pirate',\n    base_prompt: `${S}\\n\\nCreate a cute chibi-style avatar portrait of a brave pirate girl, aged 9.\\n\\nCHARACTER: Short wavy red hair, big confident teal eyes, cute tiny pirate hat with a heart skull, red bandana, striped shirt, small golden anchor necklace, one tiny star-shaped earring.\\n\\nFRAMING: Head and shoulders, centered, circular composition.\\nBACKGROUND: Transparent or soft ocean gradient (${c.ocean} to ${c.background}).`,\n    frames: {\n      normal: 'Expression: bold and playful grin. Small waves and stars around.',\n      happy:  'Expression: triumphant laugh, fist pumped, eyes gleaming. Confetti and tiny anchors flying around her.'\n    }\n  }\n];\n\nif (mode !== 'avatars' && mode !== 'all') {\n  return [];\n}\n\nconst items = [];\nfor (const avatar of AVATARS) {\n  for (const [frame_type, frame_desc] of Object.entries(avatar.frames)) {\n    items.push({\n      json: {\n        character_name: avatar.character_name,\n        frame_type:     frame_type,\n        gender:         avatar.gender,\n        display_order:  avatar.display_order,\n        storage_path:   `${avatar.storage_prefix}-${frame_type}.png`,\n        bucket:         cfg.bucket,\n        supabaseUrl:    cfg.supabaseUrl,\n        prompt:         `${avatar.base_prompt}\\n\\n${frame_desc}`\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 200],
      "id": "avatar-node-03",
      "name": "Build Avatar Items"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.prompt }}",
        "options": { "binaryPropertyOutput": "data" }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [100, 200],
      "id": "avatar-node-04",
      "name": "Generate Image",
      "credentials": {
        "googlePalmApi": {
          "id": "yIkNrcZ8dCenkK89",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-binary",
              "leftValue": "={{ $binary.data ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [360, 200],
      "id": "avatar-node-05",
      "name": "Check Upload Ready"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://wddatxgqhdiosuhcztex.supabase.co/storage/v1/object/${$('Build Avatar Items').item.json.bucket}/${$('Build Avatar Items').item.json.storage_path}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "image/png" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [620, 80],
      "id": "avatar-node-06",
      "name": "Upload to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// Gemini replaces $json — reach back to the source item via item pairing\nconst meta = $('Build Avatar Items').item.json;\n\nconst image_url = `${meta.supabaseUrl}/storage/v1/object/public/${meta.bucket}/${meta.storage_path}`;\n\nreturn [{\n  json: {\n    character_name: meta.character_name,\n    frame_type:     meta.frame_type,\n    image_url:      image_url,\n    storage_path:   meta.storage_path,\n    gender:         meta.gender,\n    display_order:  meta.display_order\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 80],
      "id": "avatar-node-07",
      "name": "Build DB Row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wddatxgqhdiosuhcztex.supabase.co/rest/v1/avatars?on_conflict=character_name,frame_type",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1140, 80],
      "id": "avatar-node-08",
      "name": "Upsert Avatar",
      "credentials": {
        "supabaseApi": {
          "id": "8YCd2l80cg0wfDQ1",
          "name": "Supabase account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Build Avatar Items').item.json;\nconsole.log('SKIP - Gemini failed for:', meta.character_name, meta.frame_type);\nreturn [{ json: { skipped: true, character_name: meta.character_name, frame_type: meta.frame_type } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 360],
      "id": "avatar-node-09",
      "name": "Log Skip"
    }
  ],

  "connections": {
    "Start": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "Build Avatar Items", "type": "main", "index": 0 }]
      ]
    },
    "Build Avatar Items": {
      "main": [
        [{ "node": "Generate Image", "type": "main", "index": 0 }]
      ]
    },
    "Generate Image": {
      "main": [
        [{ "node": "Check Upload Ready", "type": "main", "index": 0 }]
      ]
    },
    "Check Upload Ready": {
      "main": [
        [{ "node": "Upload to Storage", "type": "main", "index": 0 }],
        [{ "node": "Log Skip", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Storage": {
      "main": [
        [{ "node": "Build DB Row", "type": "main", "index": 0 }]
      ]
    },
    "Build DB Row": {
      "main": [
        [{ "node": "Upsert Avatar", "type": "main", "index": 0 }]
      ]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "mangakids-avatars-v2-2026-03-17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "mangakids-assets"
  },
  "tags": []
}
